In [17]:
import pandas as pd

df1 = pd.DataFrame({'a':[1,2,3], 'b':[1,2,3]})

df1

   a  b
0  1  1
1  2  2
2  3  3

In [4]:
df['a']

0    1
1    2
2    3
Name: a, dtype: int64

In [11]:
df.to_json(orient='records', lines=True)

'{"a":1,"b":1}\n{"a":2,"b":2}\n{"a":3,"b":3}'

In [13]:
import json

print(df.to_json(orient='records', lines=True))

with open('test_data.jsonl', 'w') as outfile:
    json.dump(df.to_json(orient='records', lines=True), outfile)

In [20]:
import pandas as pd

data = [{'label': 'DRUG', 'pattern': 'aspirin'},
        {'label': 'DRUG', 'pattern': 'trazodone'},
        {'label': 'DRUG', 'pattern': 'citalopram'}]
df = pd.DataFrame(data)

print(df)

print(df1)

# Output in JSONL format
print(df.to_json(orient='records', lines=True))

  label     pattern
0  DRUG     aspirin
1  DRUG   trazodone
2  DRUG  citalopram
   a  b
0  1  1
1  2  2
2  3  3
{"label":"DRUG","pattern":"aspirin"}
{"label":"DRUG","pattern":"trazodone"}
{"label":"DRUG","pattern":"citalopram"}

In [36]:
a = pd.DataFrame(
{'device_id': '001',
    'x': [[0.128, 0.147, 0.151, 0.17, 0.094, 0.091, 0.106, 0.189, 0.091, 0.083, 0.075, 0.121, 0.158, 0.087, 0.091, 0.132, 0.034, 0.102, 0.098, 0.026, 0.128, 0.083, 0.072, 0.079, 0.041, 0.083, 0.174, 0.102, 0.091, 0.17, 0.079, 0.136]],
    'y': [[0.034, 0.094, 0.102, 0.087, 0.087, 0.098, 0.0, 0.087, 0.034, -0.034, 0.0, 0.124, 0.023, 0.106, 0.06, 0.079, 0.008, 0.038, 0.053, 0.026, 0.117, 0.091, 0.072, 0.06, 0.143, 0.098, 0.038, 0.124, 0.162, 0.079, 0.068, 0.087]],
    'z': [[-0.162, -0.2, -0.113, -0.075, -0.117, -0.23, -0.26, -0.189, -0.189, -0.053, -0.06, -0.181, -0.106, -0.117, -0.158, -0.189, -0.121, -0.102, -0.109, -0.079, -0.06, -0.083, -0.113, -0.113, -0.241, -0.211, -0.128, -0.015, -0.2, -0.075, -0.106, -0.196]],
    'sr': 31.25,
    'cloud_t': 1617811029.331046
    }
)

a = a.append(a)

a

,device_id,x,y,z,sr,cloud_t
0,001,"[0.128, 0.147, 0.151, 0.17, 0.094, 0.091, 0.10...","[0.034, 0.094, 0.102, 0.087, 0.087, 0.098, 0.0...","[-0.162, -0.2, -0.113, -0.075, -0.117, -0.23, ...",31.25,1.617811e+09
0,001,"[0.128, 0.147, 0.151, 0.17, 0.094, 0.091, 0.10...","[0.034, 0.094, 0.102, 0.087, 0.087, 0.098, 0.0...","[-0.162, -0.2, -0.113, -0.075, -0.117, -0.23, ...",31.25,1.617811e+09

In [38]:

with open('test_data.jsonl', 'w') as outfile:
    json.dump(a.to_json(), outfile)